<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Link Child Foundation</display-name>
  <info>Sample module with basic page and region</info>
  <url>http://linkchildfundation.org</url>
  <vendor>
    <name>Harald Ringvold</name>
    <url>http://harald.io</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="6.0.0"/>
  <config>
  </config>
  <x-data mixin="menu-item"/>
</module>