/* Modular Framwork by Kristoffer Sundmyhr */
/* --------------------------------------------
    TABLE OF CONTENTS
-----------------------------------------------
    Assets
    Partials

----- */
/* --------------------------------
    Assets
-------------------------------- */
@import url(../vendor/flexslider/flexslider.css);
/* line 2, ../vendor/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* --------------------------------
    Partials
-------------------------------- */
/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Screen sizes
    Grid
    Sizes
    Colors
    Chosen colors
    Z-index

----- */
/* --------------------------------
    Screen sizes
-------------------------------- */
/* --------------------------------
    Grid
-------------------------------- */
/* --------------------------------
    Sizes
-------------------------------- */
/* --------------------------------
    Colors
-------------------------------- */
/* --------------------------------
    Chosen colors
-------------------------------- */
/* --------------------------------
    Z-index
-------------------------------- */
/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Mixins

----- */
/* --------------------------------
    Mixins
-------------------------------- */
/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    General
    Wrappers
    Buttons

----- */
/* --------------------------------
    General
-------------------------------- */
/* line 14, ../sass/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/_global.scss */
html {
  overflow-x: hidden;
}

/* line 24, ../sass/_global.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
/* line 31, ../sass/_global.scss */
body.boxed {
  background: #ddd;
}

/* line 36, ../sass/_global.scss */
.main {
  margin-top: 60px;
}

@media screen and (max-width: 900px) {
  /* line 40, ../sass/_global.scss */
  .main {
    margin-top: 0;
  }
}
/* line 45, ../sass/_global.scss */
::-moz-selection {
  background: #1bb776;
  text-shadow: none;
}

/* line 50, ../sass/_global.scss */
::selection {
  background: #1bb776;
  text-shadow: none;
}

/* line 55, ../sass/_global.scss */
::-webkit-input-placeholder {
  color: #c3c3c3;
}

/* line 56, ../sass/_global.scss */
:-moz-placeholder {
  color: #c3c3c3;
}

/* line 57, ../sass/_global.scss */
::-moz-placeholder {
  color: #c3c3c3;
}

/* line 58, ../sass/_global.scss */
:-ms-input-placeholder {
  color: #c3c3c3;
}

/* line 60, ../sass/_global.scss */
.text-left {
  text-align: left;
}

/* line 61, ../sass/_global.scss */
.text-center {
  text-align: center;
}

/* line 63, ../sass/_global.scss */
.linklist {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 74, ../sass/_global.scss */
.flexslider .flex-direction-nav {
  display: none;
}

/* line 79, ../sass/_global.scss */
.icon-row {
  margin: 0.5em 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 2em;
}
/* line 85, ../sass/_global.scss */
.icon-row:only-child {
  margin: 0;
}
/* line 89, ../sass/_global.scss */
.icon-row.xsmall {
  font-size: 1em;
}
/* line 93, ../sass/_global.scss */
.icon-row.small {
  font-size: 2em;
}
/* line 97, ../sass/_global.scss */
.icon-row.large {
  font-size: 3em;
}
/* line 101, ../sass/_global.scss */
.icon-row.xlarge {
  font-size: 4em;
}
/* line 105, ../sass/_global.scss */
.icon-row li {
  display: inline-block;
  margin: 0 0.5em;
}
@media screen and (max-width: 900px) {
  /* line 111, ../sass/_global.scss */
  .icon-row li {
    display: block;
  }
}

/* --------------------------------
    Wrappers
-------------------------------- */
/* line 121, ../sass/_global.scss */
.outer {
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 3em;
  padding-right: 3em;
}
@media screen and (max-width: 900px) {
  /* line 121, ../sass/_global.scss */
  .outer {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
/* line 132, ../sass/_global.scss */
.outer:nth-child(odd) {
  background-color: #f0f0f0;
}
/* line 136, ../sass/_global.scss */
.outer:nth-child(even) {
  background-color: #fff;
}

/* line 141, ../sass/_global.scss */
.inner {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 17, ../vendor/bourbon/addons/_clearfix.scss */
.inner:before, .inner:after {
  content: " ";
  display: table;
}
/* line 23, ../vendor/bourbon/addons/_clearfix.scss */
.inner:after {
  clear: both;
}
/* line 145, ../sass/_global.scss */
.inner.text-left {
  text-align: left;
}
@media screen and (max-width: 900px) {
  /* line 148, ../sass/_global.scss */
  .inner .inner {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* line 157, ../sass/_global.scss */
body.boxed .outer {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}
/* line 17, ../vendor/bourbon/addons/_clearfix.scss */
body.boxed .outer:before, body.boxed .outer:after {
  content: " ";
  display: table;
}
/* line 23, ../vendor/bourbon/addons/_clearfix.scss */
body.boxed .outer:after {
  clear: both;
}

/* --------------------------------
    Buttons
-------------------------------- */
/* line 176, ../sass/_global.scss */
.button {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  display: inline-block;
  background: none;
  border: none;
  font-size: 1em;
  border-radius: 4px;
  padding: 1em 2em;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-style: solid;
  border-color: #111;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: none !important;
  text-decoration: none !important;
}
/* line 196, ../sass/_global.scss */
.button:hover {
  background-color: #111;
  color: #fff;
}
/* line 201, ../sass/_global.scss */
.button i {
  font-size: 1.2em;
  margin-right: 0.25em;
  vertical-align: middle;
  margin-top: -2px;
}
/* line 209, ../sass/_global.scss */
.button.icon-right i {
  margin-right: 0;
  margin-left: 0.25em;
}
/* line 215, ../sass/_global.scss */
.button.white {
  border-color: #fff;
  color: #fff;
}
/* line 219, ../sass/_global.scss */
.button.white:hover, .button.white.solid {
  background-color: #fff;
  border-color: #fff;
  color: #111;
}
/* line 224, ../sass/_global.scss */
.button.white:hover i, .button.white.solid i {
  color: #111;
}
/* line 230, ../sass/_global.scss */
.button.black {
  border-color: #111;
  color: #111;
}
/* line 234, ../sass/_global.scss */
.button.black:hover, .button.black.solid {
  background-color: #111;
  color: #fff;
}
/* line 241, ../sass/_global.scss */
.button.has-primary-color:hover, .button.has-primary-color.solid {
  background-color: #1bb776;
  border-color: #1bb776;
  color: #fff;
}
/* line 246, ../sass/_global.scss */
.button.has-primary-color:hover i, .button.has-primary-color.solid i {
  color: #fff;
}
/* line 252, ../sass/_global.scss */
.button.has-primary-color.solid:hover {
  background-color: #009958;
  border-color: #009958;
}
/* line 259, ../sass/_global.scss */
.button.primary {
  background-color: #1bb776;
  border-color: #1bb776;
  color: #fff;
}
/* line 264, ../sass/_global.scss */
.button.primary:hover, .button.primary.solid {
  background-color: #1bb776;
  border-color: #1bb776;
  color: #fff;
}
/* line 269, ../sass/_global.scss */
.button.primary:hover i, .button.primary.solid i {
  color: #fff;
}
/* line 275, ../sass/_global.scss */
.button.primary.solid:hover {
  background-color: #009958;
  border-color: #009958;
}
/* line 282, ../sass/_global.scss */
.button.small {
  font-size: 0.8em;
  padding: 0.8em 1.8em;
}
/* line 287, ../sass/_global.scss */
.button.large {
  font-size: 1.5em;
  border-width: 3px;
  padding: 1em 2em;
}

/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Headers
    Text
    Icons

----- */
/* --------------------------------
    Headers
-------------------------------- */
/* line 14, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
/* line 16, ../sass/_typography.scss */
h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
  color: #fff;
}
/* line 18, ../sass/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
  opacity: 0.5;
  font-size: 0.7em;
  display: block;
  font-weight: normal;
}
/* line 25, ../sass/_typography.scss */
h1 small.inline, h2 small.inline, h3 small.inline, h4 small.inline, h5 small.inline, h6 small.inline {
  display: inline-block;
}
/* line 30, ../sass/_typography.scss */
h1.super, h2.super, h3.super, h4.super, h5.super, h6.super {
  font-size: 3em;
  margin-top: 0;
}
@media screen and (max-width: 900px) {
  /* line 30, ../sass/_typography.scss */
  h1.super, h2.super, h3.super, h4.super, h5.super, h6.super {
    font-size: 3em;
  }
}
@media screen and (max-width: 480px) {
  /* line 30, ../sass/_typography.scss */
  h1.super, h2.super, h3.super, h4.super, h5.super, h6.super {
    font-size: 2em;
  }
}

/* line 44, ../sass/_typography.scss */
h2 {
  margin-top: 0;
}
/* line 46, ../sass/_typography.scss */
h2:only-child {
  margin: 0;
}

/* line 49, ../sass/_typography.scss */
span.primary {
  color: #1bb776;
}
/* line 52, ../sass/_typography.scss */
span.primary.code {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

/* line 58, ../sass/_typography.scss */
.inner.narrow.text-left:nth-child(1) {
  margin-top: 20px;
}
/* line 59, ../sass/_typography.scss */
.inner.narrow.text-left h2 {
  margin-top: 30px;
}

/* --------------------------------
    Text
-------------------------------- */
/* line 67, ../sass/_typography.scss */
p.white {
  color: #fff;
}
/* line 68, ../sass/_typography.scss */
p.super {
  font-size: 1.5em;
}

/* line 71, ../sass/_typography.scss */
a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #1bb776;
  text-decoration: none;
}
/* line 76, ../sass/_typography.scss */
a:hover {
  text-decoration: underline;
  color: #009958;
}
/* line 80, ../sass/_typography.scss */
a:hover i {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #009958;
}
/* line 86, ../sass/_typography.scss */
a.white {
  color: #fff;
}
/* line 90, ../sass/_typography.scss */
a.black {
  color: #111;
}
/* line 94, ../sass/_typography.scss */
a.primary {
  color: #1bb776;
}

/* line 99, ../sass/_typography.scss */
blockquote {
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-left: 3px solid #1bb776;
}
/* line 104, ../sass/_typography.scss */
blockquote cite {
  display: block;
  font-size: 0.7em;
  opacity: 0.6;
  padding-top: 0.6em;
}

/* --------------------------------
    Icons
-------------------------------- */
/* line 116, ../sass/_typography.scss */
i.fa.primary {
  color: #1bb776;
}

/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Top nav
    Left and right nav

----- */
/* --------------------------------
    Top nav
-------------------------------- */
/* line 13, ../sass/_navigation.scss */
.top-nav {
  padding: 0;
  background: #fff !important;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1090;
}
/* line 21, ../sass/_navigation.scss */
.top-nav .inner {
  padding: 1.5em 3em !important;
  height: auto;
  position: relative;
  min-height: 75px;
}
/* line 28, ../sass/_navigation.scss */
.top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
/* line 34, ../sass/_navigation.scss */
.top-nav ul li {
  display: inline-block;
  padding-right: 1.5em;
  width: auto;
}
/* line 40, ../sass/_navigation.scss */
.top-nav ul li.language a {
  color: #777 !important;
  font-size: 0.8em;
}
@media screen and (max-width: 900px) {
  /* line 40, ../sass/_navigation.scss */
  .top-nav ul li.language a {
    color: #fff !important;
    font-size: 1em;
  }
}
/* line 51, ../sass/_navigation.scss */
.top-nav ul li.hidden-on-small {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  /* line 51, ../sass/_navigation.scss */
  .top-nav ul li.hidden-on-small {
    display: none;
  }
}
/* line 59, ../sass/_navigation.scss */
.top-nav ul li.show-on-small {
  display: none;
}
@media screen and (max-width: 480px) {
  /* line 59, ../sass/_navigation.scss */
  .top-nav ul li.show-on-small {
    display: inline-block;
  }
}
/* line 67, ../sass/_navigation.scss */
.top-nav ul li:not(.title) {
  padding-top: 3px;
}
/* line 71, ../sass/_navigation.scss */
.top-nav ul li.float.right {
  float: right;
}
/* line 75, ../sass/_navigation.scss */
.top-nav ul li.title {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  padding-right: 3em;
}
/* line 81, ../sass/_navigation.scss */
.top-nav ul li.title.primary a {
  color: #1bb776;
}
/* line 86, ../sass/_navigation.scss */
.top-nav ul li.title h1 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
/* line 94, ../sass/_navigation.scss */
.top-nav ul li.active a {
  color: #1bb776;
}
/* line 99, ../sass/_navigation.scss */
.top-nav ul li a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 104, ../sass/_navigation.scss */
.top-nav ul li a:hover {
  color: #1bb776;
}
/* line 108, ../sass/_navigation.scss */
.top-nav ul li a i {
  font-size: 1.2em;
  margin-top: 1px;
  margin-right: 5px;
}
/* line 115, ../sass/_navigation.scss */
.top-nav ul li.dropdown {
  position: relative;
  margin-right: 1em;
  cursor: pointer;
}
/* line 120, ../sass/_navigation.scss */
.top-nav ul li.dropdown.active {
  color: #1bb776;
}
/* line 124, ../sass/_navigation.scss */
.top-nav ul li.dropdown:after {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: #111;
  content: "";
  position: absolute;
  display: inline-block;
  right: 4px;
  top: 12px;
}
/* line 133, ../sass/_navigation.scss */
.top-nav ul li.dropdown ul {
  z-index: 1100;
  position: absolute;
  top: 58px;
  right: -10px;
  padding: 1.5em;
  background: #111;
  display: none;
}
/* line 142, ../sass/_navigation.scss */
.top-nav ul li.dropdown ul li {
  display: block;
  color: #fff;
}
/* line 146, ../sass/_navigation.scss */
.top-nav ul li.dropdown ul li a {
  color: #fff;
}
/* line 149, ../sass/_navigation.scss */
.top-nav ul li.dropdown ul li a:hover {
  color: #1bb776;
}
/* line 155, ../sass/_navigation.scss */
.top-nav ul li.dropdown ul:before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-bottom-color: #111;
  content: "";
  position: absolute;
  display: inline-block;
  right: 10px;
  top: -20px;
}
/* line 166, ../sass/_navigation.scss */
.top-nav ul li.dropdown.open ul {
  display: block;
}
/* line 170, ../sass/_navigation.scss */
.top-nav ul li.dropdown.open:after {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: #111;
  content: "";
  position: absolute;
  display: inline-block;
  right: 4px;
  top: 7px;
}
/* line 183, ../sass/_navigation.scss */
.top-nav.inverted {
  background: #111 !important;
}
/* line 188, ../sass/_navigation.scss */
.top-nav.inverted ul li a {
  color: #fff;
}
/* line 191, ../sass/_navigation.scss */
.top-nav.inverted ul li a:hover {
  color: #1bb776;
}
/* line 197, ../sass/_navigation.scss */
.top-nav.inverted ul li.active a {
  color: #1bb776;
}
/* line 202, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown {
  color: #fff;
}
/* line 205, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown.active {
  color: #1bb776;
}
/* line 209, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown:hover {
  color: #1bb776;
}
/* line 213, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown:after {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: #fff;
  content: "";
  position: absolute;
  display: inline-block;
  right: 4px;
  top: 12px;
}
/* line 223, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown.open:after {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: #fff;
  content: "";
  position: absolute;
  display: inline-block;
  right: 4px;
  top: 7px;
}
/* line 232, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown.open ul {
  background: #fff;
}
/* line 235, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown.open ul li {
  display: block;
}
/* line 237, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown.open ul li a {
  color: #111;
}
/* line 240, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown.open ul li a:hover {
  color: #1bb776;
}
/* line 246, ../sass/_navigation.scss */
.top-nav.inverted ul li.dropdown.open ul:before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-bottom-color: #fff;
}
/* line 256, ../sass/_navigation.scss */
.top-nav .top-nav-trigger {
  display: none;
}

@media screen and (max-width: 900px) {
  /* line 262, ../sass/_navigation.scss */
  .top-nav {
    height: auto;
    overflow: visible;
    max-height: 9999px;
    min-height: 90px;
    position: relative;
    opacity: 1;
  }
  /* line 270, ../sass/_navigation.scss */
  .top-nav .inner {
    padding: 2em 3em !important;
  }
  /* line 274, ../sass/_navigation.scss */
  .top-nav .nav-collapse {
    clip: rect(0px, 9999px, 30px, 0px);
    max-height: 90px;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }
  /* line 282, ../sass/_navigation.scss */
  .top-nav .nav-collapse.disable-pointer-events {
    pointer-events: none !important;
  }
  /* line 286, ../sass/_navigation.scss */
  .top-nav .nav-collapse li {
    width: 100%;
    display: block;
    padding-bottom: 0.5em;
  }
  /* line 291, ../sass/_navigation.scss */
  .top-nav .nav-collapse li.title {
    padding-bottom: 1em;
    word-wrap: none;
  }
  /* line 297, ../sass/_navigation.scss */
  .top-nav .nav-collapse .nav-toggle {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  /* line 308, ../sass/_navigation.scss */
  .top-nav .top-nav-trigger {
    display: block;
    z-index: 1090;
    position: absolute;
    right: 1em;
    top: 14px;
    height: 65px;
    width: 70px;
    padding: 20px 30px;
    cursor: pointer;
  }
  /* line 319, ../sass/_navigation.scss */
  .top-nav .top-nav-trigger .toggler {
    position: relative;
    display: block;
    margin-top: 10px;
    float: right;
  }
  /* line 326, ../sass/_navigation.scss */
  .top-nav .top-nav-trigger .toggler,
  .top-nav .top-nav-trigger .toggler:before,
  .top-nav .top-nav-trigger .toggler:after {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #111;
    width: 30px;
    height: 3px;
  }
  /* line 335, ../sass/_navigation.scss */
  .top-nav .top-nav-trigger .toggler:before,
  .top-nav .top-nav-trigger .toggler:after {
    position: absolute;
    margin-top: -10px;
    content: " ";
  }
  /* line 342, ../sass/_navigation.scss */
  .top-nav .top-nav-trigger .toggler:after {
    margin-top: 10px;
  }
  /* line 349, ../sass/_navigation.scss */
  .top-nav.inverted .top-nav-trigger .toggler,
  .top-nav.inverted .top-nav-trigger .toggler:before,
  .top-nav.inverted .top-nav-trigger .toggler:after {
    background-color: #fff;
  }
  /* line 357, ../sass/_navigation.scss */
  .top-nav.top-nav-open .toggler {
    background-color: transparent !important;
  }
  /* line 360, ../sass/_navigation.scss */
  .top-nav.top-nav-open .toggler:after {
    margin-top: 9px;
  }
  /* line 365, ../sass/_navigation.scss */
  .top-nav.top-nav-open .toggler:before {
    -webkit-transform: rotate(45deg) translate(0.5em, 0.4em);
    -moz-transform: rotate(45deg) translate(0.5em, 0.4em);
    -ms-transform: rotate(45deg) translate(0.5em, 0.4em);
    -o-transform: rotate(45deg) translate(0.5em, 0.4em);
    transform: rotate(45deg) translate(0.5em, 0.4em);
    margin-left: -2px;
  }
  /* line 374, ../sass/_navigation.scss */
  .top-nav.top-nav-open .toggler:after {
    -webkit-transform: rotate(-45deg) translate(0.45em, -0.35em);
    -moz-transform: rotate(-45deg) translate(0.45em, -0.35em);
    -ms-transform: rotate(-45deg) translate(0.45em, -0.35em);
    -o-transform: rotate(-45deg) translate(0.45em, -0.35em);
    transform: rotate(-45deg) translate(0.45em, -0.35em);
    margin-left: -2px;
  }
  /* line 384, ../sass/_navigation.scss */
  .top-nav.top-nav-open .nav-collapse {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    clip: auto;
    max-height: none;
    position: relative;
  }
}
@media screen and (min-width: 900px) {
  /* line 395, ../sass/_navigation.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 398, ../sass/_navigation.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 401, ../sass/_navigation.scss */
  .nav-toggle {
    display: none;
  }
}
/* --------------------------------
    Left and right nav
-------------------------------- */
/* line 410, ../sass/_navigation.scss */
.side-nav {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: fixed;
  top: 0px;
  width: 330px;
  clip: rect(auto, 300px, auto, auto);
  height: 100%;
  background: #111;
  color: #fff;
  padding: 80px 50px 40px 15px;
  overflow: auto;
  margin-right: -15px;
}
/* line 424, ../sass/_navigation.scss */
.side-nav.persistant {
  padding-top: 0px;
}
@media screen and (max-width: 900px) {
  /* line 424, ../sass/_navigation.scss */
  .side-nav.persistant {
    padding-top: 80px;
  }
}
/* line 432, ../sass/_navigation.scss */
.side-nav.closed {
  margin-left: -300px;
}
/* line 436, ../sass/_navigation.scss */
.side-nav.left-nav {
  left: 0px;
}
/* line 440, ../sass/_navigation.scss */
.side-nav h2 {
  margin-top: 1em;
  font-size: 1.3em;
  font-weight: 400;
}
/* line 446, ../sass/_navigation.scss */
.side-nav form {
  margin: 0;
  padding: 0;
}
/* line 451, ../sass/_navigation.scss */
.side-nav hr {
  margin: 2em 0 2em 0;
  padding: 0;
  height: 0px;
  border: none;
  border-top: 1px solid #252525 !important;
  border-color: #252525;
  background: #252525 !important;
}
/* line 462, ../sass/_navigation.scss */
.side-nav ul.linklist li {
  margin-bottom: 0.7em;
}
/* line 465, ../sass/_navigation.scss */
.side-nav ul.linklist li a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
}
/* line 472, ../sass/_navigation.scss */
.side-nav ul.linklist li a:hover {
  color: #1bb776;
}
/* line 476, ../sass/_navigation.scss */
.side-nav ul.linklist li a i {
  margin-right: 0.5em;
  color: #1bb776;
}
/* line 483, ../sass/_navigation.scss */
.side-nav ul.linklist li.active a {
  color: #1bb776;
}

/* line 491, ../sass/_navigation.scss */
.content-wrapper {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 100%;
  left: 0px;
  right: 0px;
  z-index: 100;
  position: relative;
}
@media screen and (max-width: 900px) {
  /* line 491, ../sass/_navigation.scss */
  .content-wrapper {
    width: 100%;
    position: absolute;
    overflow-x: hidden !important;
  }
}
/* line 505, ../sass/_navigation.scss */
.content-wrapper.side-nav-open, .content-wrapper.side-nav-persistant.side-nav-open {
  margin-left: 300px;
}
@media screen and (max-width: 900px) {
  /* line 510, ../sass/_navigation.scss */
  .content-wrapper.side-nav-open, .content-wrapper.side-nav-persistant.side-nav-open {
    margin-left: 0;
    left: 300px;
    overflow-x: hidden;
  }
}
/* line 517, ../sass/_navigation.scss */
.content-wrapper .side-nav-trigger {
  z-index: 1090;
  background: #111;
  position: fixed;
  left: -5px;
  top: 20px;
  height: 65px;
  width: 70px;
  padding: 20px;
  cursor: pointer;
  z-index: 1110;
}
/* line 529, ../sass/_navigation.scss */
.content-wrapper .side-nav-trigger .toggler {
  position: relative;
  display: block;
  margin-top: 10px;
  float: right;
}
/* line 536, ../sass/_navigation.scss */
.content-wrapper .side-nav-trigger .toggler,
.content-wrapper .side-nav-trigger .toggler:before,
.content-wrapper .side-nav-trigger .toggler:after {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  width: 30px;
  height: 3px;
}
/* line 545, ../sass/_navigation.scss */
.content-wrapper .side-nav-trigger .toggler:before,
.content-wrapper .side-nav-trigger .toggler:after {
  position: absolute;
  margin-top: -10px;
  content: " ";
}
/* line 552, ../sass/_navigation.scss */
.content-wrapper .side-nav-trigger .toggler:after {
  margin-top: 10px;
}
/* line 558, ../sass/_navigation.scss */
.content-wrapper.side-nav-persistant .side-nav-trigger {
  display: none;
}
@media screen and (max-width: 900px) {
  /* line 558, ../sass/_navigation.scss */
  .content-wrapper.side-nav-persistant .side-nav-trigger {
    display: block;
  }
}
/* line 567, ../sass/_navigation.scss */
.content-wrapper.side-nav-open .toggler {
  background: transparent;
}
/* line 570, ../sass/_navigation.scss */
.content-wrapper.side-nav-open .toggler:after {
  margin-top: 9px;
}
/* line 575, ../sass/_navigation.scss */
.content-wrapper.side-nav-open .toggler:before {
  -webkit-transform: rotate(45deg) translate(0.5em, 0.4em);
  -moz-transform: rotate(45deg) translate(0.5em, 0.4em);
  -ms-transform: rotate(45deg) translate(0.5em, 0.4em);
  -o-transform: rotate(45deg) translate(0.5em, 0.4em);
  transform: rotate(45deg) translate(0.5em, 0.4em);
  margin-left: -2px;
}
/* line 584, ../sass/_navigation.scss */
.content-wrapper.side-nav-open .toggler:after {
  -webkit-transform: rotate(-45deg) translate(0.45em, -0.35em);
  -moz-transform: rotate(-45deg) translate(0.45em, -0.35em);
  -ms-transform: rotate(-45deg) translate(0.45em, -0.35em);
  -o-transform: rotate(-45deg) translate(0.45em, -0.35em);
  transform: rotate(-45deg) translate(0.45em, -0.35em);
  margin-left: -2px;
}

/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Eyecatcher
    Columns
    Galleries
    Price table
    Maps
    Footers

----- */
/* --------------------------------
    Eyecatcher
-------------------------------- */
/* line 17, ../sass/_modules.scss */
.eyecatcher {
  background-color: #fdfdfb;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
  display: table;
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
}
/* line 34, ../sass/_modules.scss */
.eyecatcher.solid {
  background: #111;
}
/* line 38, ../sass/_modules.scss */
.eyecatcher.fixed {
  background-attachment: fixed;
}
@media screen and (max-width: 900px) {
  /* line 17, ../sass/_modules.scss */
  .eyecatcher {
    height: 400px;
    background-attachment: scroll !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 17, ../sass/_modules.scss */
  .eyecatcher {
    height: 300px;
  }
}
/* line 51, ../sass/_modules.scss */
.eyecatcher.top-margin {
  margin-top: 60px;
}
@media screen and (max-width: 900px) {
  /* line 51, ../sass/_modules.scss */
  .eyecatcher.top-margin {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 51, ../sass/_modules.scss */
  .eyecatcher.top-margin {
    margin-top: 0;
  }
}
/* line 64, ../sass/_modules.scss */
.eyecatcher .inner {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: none;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}
/* line 75, ../sass/_modules.scss */
.eyecatcher.bottom-content {
  overflow: hidden;
  padding-bottom: 0;
  min-height: auto;
}
/* line 80, ../sass/_modules.scss */
.eyecatcher.bottom-content .inner {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  vertical-align: bottom;
}
/* line 81, ../sass/_modules.scss */
.eyecatcher.bottom-content .inner .super {
  padding-top: 2em;
}
/* line 17, ../vendor/bourbon/addons/_clearfix.scss */
.eyecatcher.bottom-content .inner:before, .eyecatcher.bottom-content .inner:after {
  content: " ";
  display: table;
}
/* line 23, ../vendor/bourbon/addons/_clearfix.scss */
.eyecatcher.bottom-content .inner:after {
  clear: both;
}
/* line 91, ../sass/_modules.scss */
.eyecatcher.bottom-content.bottom-image img {
  width: 100%;
  max-width: 75em;
  margin: 5em auto 0 auto;
  display: block;
  clear: both;
}
/* line 102, ../sass/_modules.scss */
.eyecatcher.bottom-content.bottom-info .content {
  width: 100%;
  max-width: 75em;
  margin: 5em auto 0 auto;
  display: block;
  clear: both;
  color: #fff;
  font-size: 1.4em;
  padding-bottom: 60px;
  font-weight: 300;
  z-index: 100;
  position: relative;
  text-shadow: none;
}
/* line 116, ../sass/_modules.scss */
.eyecatcher.bottom-content.bottom-info .content i.fa {
  margin-right: 0.3em;
}
/* line 121, ../sass/_modules.scss */
.eyecatcher.bottom-content.bottom-info.has-gradient {
  position: relative;
}
/* line 124, ../sass/_modules.scss */
.eyecatcher.bottom-content.bottom-info.has-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150%;
  min-height: 200px;
  max-height: 340px;
  height: 100%;
  background: url(../images/content-gradient.png) repeat-x top;
  opacity: 0.9;
}

/* --------------------------------
    Columns
-------------------------------- */
/* line 149, ../sass/_modules.scss */
.columns.two .column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 0 1em;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.columns.two .column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  /* line 149, ../sass/_modules.scss */
  .columns.two .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding-bottom: 2em;
  }
  /* line 40, ../vendor/neat/grid/_span-columns.scss */
  .columns.two .column:last-child {
    margin-right: 0;
  }
}
/* line 158, ../sass/_modules.scss */
.columns.two .column:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 2em;
}
/* line 163, ../sass/_modules.scss */
.columns.two .column:last-child {
  margin-bottom: 0;
}
/* line 164, ../sass/_modules.scss */
.columns.two .column .image + h2 {
  margin-top: 1em;
}
/* line 167, ../sass/_modules.scss */
.columns.two .column .image img {
  width: 100%;
  height: auto;
}
/* line 176, ../sass/_modules.scss */
.columns.three .column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 0 1em;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.columns.three .column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  /* line 176, ../sass/_modules.scss */
  .columns.three .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding-bottom: 2em;
  }
  /* line 40, ../vendor/neat/grid/_span-columns.scss */
  .columns.three .column:last-child {
    margin-right: 0;
  }
}
/* line 185, ../sass/_modules.scss */
.columns.three .column:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 2em;
}
/* line 190, ../sass/_modules.scss */
.columns.three .column:last-child {
  margin-bottom: 0;
}
/* line 191, ../sass/_modules.scss */
.columns.three .column .image + h2 {
  margin-top: 1em;
}
/* line 194, ../sass/_modules.scss */
.columns.three .column .image img {
  width: 100%;
  height: auto;
}
/* line 203, ../sass/_modules.scss */
.columns.four .column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 0 1em;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.columns.four .column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  /* line 203, ../sass/_modules.scss */
  .columns.four .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding-bottom: 2em;
  }
  /* line 40, ../vendor/neat/grid/_span-columns.scss */
  .columns.four .column:last-child {
    margin-right: 0;
  }
}
/* line 212, ../sass/_modules.scss */
.columns.four .column:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 2em;
}
/* line 217, ../sass/_modules.scss */
.columns.four .column:last-child {
  margin-bottom: 0;
}
/* line 218, ../sass/_modules.scss */
.columns.four .column .image + h2 {
  margin-top: 1em;
}
/* line 221, ../sass/_modules.scss */
.columns.four .column .image img {
  width: 100%;
  height: auto;
}

/* ------------------------------------
    Galleries
------------------------------------ */
/* line 234, ../sass/_modules.scss */
.gallery {
  *zoom: 1;
}
/* line 17, ../vendor/bourbon/addons/_clearfix.scss */
.gallery:before, .gallery:after {
  content: " ";
  display: table;
}
/* line 23, ../vendor/bourbon/addons/_clearfix.scss */
.gallery:after {
  clear: both;
}
/* line 238, ../sass/_modules.scss */
.gallery a:hover {
  opacity: 0.9;
}
/* line 244, ../sass/_modules.scss */
.gallery.xlarge .image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.gallery.xlarge .image:last-child {
  margin-right: 0;
}
/* line 247, ../sass/_modules.scss */
.gallery.xlarge .image:nth-child(odd) {
  margin-right: 0;
}
/* line 251, ../sass/_modules.scss */
.gallery.xlarge .image img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
/* line 260, ../sass/_modules.scss */
.gallery.large .image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.gallery.large .image:last-child {
  margin-right: 0;
}
/* line 263, ../sass/_modules.scss */
.gallery.large .image:nth-child(odd) {
  margin-right: 0;
}
/* line 267, ../sass/_modules.scss */
.gallery.large .image img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
/* line 276, ../sass/_modules.scss */
.gallery.small .image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.gallery.small .image:last-child {
  margin-right: 0;
}
/* line 279, ../sass/_modules.scss */
.gallery.small .image:nth-child(3n) {
  margin-right: 0;
}
/* line 283, ../sass/_modules.scss */
.gallery.small .image img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
/* line 291, ../sass/_modules.scss */
.gallery.full-width {
  margin: 0;
  padding: 0;
}
/* line 296, ../sass/_modules.scss */
.gallery.full-width .image {
  margin: 0px;
}
/* line 299, ../sass/_modules.scss */
.gallery.full-width .image img {
  margin: 0px;
  float: left;
}
/* line 306, ../sass/_modules.scss */
.gallery.full-width.xlarge .image {
  width: 100%;
}
/* line 312, ../sass/_modules.scss */
.gallery.full-width.large .image {
  width: 50%;
}
/* line 318, ../sass/_modules.scss */
.gallery.full-width.small .image {
  width: 25%;
}
@media screen and (max-width: 900px) {
  /* line 318, ../sass/_modules.scss */
  .gallery.full-width.small .image {
    width: 50%;
  }
}

/* --------------------------------
    Price table
-------------------------------- */
/* line 336, ../sass/_modules.scss */
.price-table.four .column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.price-table.four .column:last-child {
  margin-right: 0;
}
/* line 342, ../sass/_modules.scss */
.price-table.three .column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 40, ../vendor/neat/grid/_span-columns.scss */
.price-table.three .column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  /* line 348, ../sass/_modules.scss */
  .price-table .column {
    width: 100% !important;
    display: block;
    margin-bottom: 2em;
  }
}
/* line 355, ../sass/_modules.scss */
.price-table header {
  background-color: #111;
  color: #fff;
  padding: 3em 1.5em;
  border-radius: 4px 4px 0 0;
}
/* line 361, ../sass/_modules.scss */
.price-table header.focus {
  background-color: #1bb776;
}
/* line 365, ../sass/_modules.scss */
.price-table header small {
  display: block;
  margin-bottom: 1em;
}
/* line 370, ../sass/_modules.scss */
.price-table header .price {
  font-size: 3em;
  vertical-align: bottom;
  padding-bottom: 0.3em;
}
/* line 375, ../sass/_modules.scss */
.price-table header .price * {
  display: inline-block;
}
/* line 379, ../sass/_modules.scss */
.price-table header .price span {
  opacity: 0.7;
}
/* line 382, ../sass/_modules.scss */
.price-table header .price span.currency {
  font-size: 0.4em;
}
/* line 386, ../sass/_modules.scss */
.price-table header .price span.frequency {
  font-size: 0.2em;
}
/* line 393, ../sass/_modules.scss */
.price-table .line {
  padding: 0.8em 1em;
  border-color: #bbb;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  background: #fff;
  text-align: left;
  font-size: 0.9em;
  opacity: 0.8;
}
/* line 403, ../sass/_modules.scss */
.price-table .line i {
  margin-right: 0.8em;
}
/* line 407, ../sass/_modules.scss */
.price-table .line:last-child {
  border-radius: 0 0 4px 4px;
}

/* --------------------------------
    Footers
-------------------------------- */
/* line 418, ../sass/_modules.scss */
footer.outer {
  background: #191919 !important;
  color: #fff;
  padding-top: 3em;
  padding-bottom: 4.5em;
}
@media screen and (max-width: 900px) {
  /* line 429, ../sass/_modules.scss */
  footer.outer .column {
    text-align: center;
  }
}
