/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    General
    Wrappers
    Buttons

----- */


/* --------------------------------
    General
-------------------------------- */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

    &.boxed {
        background: #ddd;
    }
}

.main {
  margin-top: 60px;
}
@media screen and (max-width: 900px) {
  .main {
    margin-top:0;
  }
}

::-moz-selection {
  background: $highlight-color;
  text-shadow: none;
}

::selection {
  background: $highlight-color;
  text-shadow: none;
}

::-webkit-input-placeholder { color: $input-placeholder-color; }
:-moz-placeholder { color: $input-placeholder-color; }
::-moz-placeholder { color: $input-placeholder-color; }
:-ms-input-placeholder { color: $input-placeholder-color; }

.text-left { text-align: left; }
.text-center { text-align: center; }

.linklist {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

    }
}

.flexslider {
    .flex-direction-nav {
        display: none;
    }
}

.icon-row {
    margin: 0.5em 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 2em;

    &:only-child {
        margin: 0;
    }

    &.xsmall {
        font-size: 1em;
    }

    &.small {
        font-size: 2em;
    }

    &.large {
        font-size: 3em;
    }

    &.xlarge {
        font-size: 4em;
    }

    li {
        display: inline-block;
        margin: 0 0.5em;
    }

    @include media($tablet) {
        li {
            display: block;
        }
    }
}


/* --------------------------------
    Wrappers
-------------------------------- */
.outer {
    padding-top: $outer-padding-top;
    padding-bottom: $outer-padding-bottom;
    padding-left: $outer-padding-left;
    padding-right: $outer-padding-right;

    @include media($tablet) {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    &:nth-child(odd) {
        background-color: $background-color;
    }

    &:nth-child(even) {
        background-color: $second-background-color;
    }
}

.inner {
    @include outer-container;
    text-align: center;

    &.text-left { text-align: left; }

    @include media($tablet) {
        .inner {
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}

body.boxed {

    .outer {
        @include outer-container;
    }

    .inner {

    }

    @include media($tablet) {
        .inner {

        }
    }
}


/* --------------------------------
    Buttons
-------------------------------- */
.button {
    @include transition(all 0.15s ease-in-out);
    display: inline-block;
    background: none;
    border: none;
    font-size: 1em;
    border-radius: 4px;
    padding: 1em 2em;
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-style: solid;
    border-color: $darkest;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: none !important;
    text-decoration: none !important;

    &:hover {
        background-color: $darkest;
        color: #fff;
    }

    i {
        font-size: 1.2em;
        margin-right: 0.25em;
        vertical-align: middle;
        margin-top: -2px;
    }

    &.icon-right {
        i {
            margin-right: 0;
            margin-left: 0.25em;
        }
    }

    &.white {
        border-color: #fff;
        color: #fff;

        &:hover, &.solid {
            background-color: #fff;
            border-color: #fff;
            color: $darkest;

            i {
                color: $darkest;
            }
        }
    }

    &.black {
        border-color: $darkest;
        color: $darkest;

        &:hover, &.solid {
            background-color: $darkest;
            color: #fff;
        }
    }

    &.has-primary-color {
        &:hover, &.solid {
            background-color: $primary-color;
            border-color: $primary-color;
            color: #fff;

            i {
                color: #fff;
            }
        }

        &.solid {
            &:hover {
                background-color: $primary-color - 00030;
                border-color: $primary-color - 00030;
            }
        }
    }

    &.primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;

        &:hover, &.solid {
            background-color: $primary-color;
            border-color: $primary-color;
            color: #fff;

            i {
                color: #fff;
            }
        }

        &.solid {
            &:hover {
                background-color: $primary-color - 00030;
                border-color: $primary-color - 00030;
            }
        }
    }

    &.small {
        font-size: 0.8em;
        padding: 0.8em 1.8em;
    }

    &.large {
        font-size: 1.5em;
        border-width: 3px;
        padding: 1em 2em;
    }
}







